p {
    width: 500px;
    padding: 30px;
    padding: 1rem 2rem 3rem 4rem;
    background-color: #edffef;
    border: 2px dashed black;
}

#head {
    background-color: brown;
}

.red {
    color: red;
}
.image{
    height: 5rem;
    width: 5rem;
}